@font-face {
    font-family: hauora-medium;
    src: url(../../../../public/Hauora-Medium.ttf);
}

.reviews-section {
    font-family: hauora-medium;
    margin: 0px 0rem 150px 4rem;
}

.reviews-heading {
    font-family: hauora-medium;
    font-size: calc(1.75rem + 1.5vw);
    text-align: center;
    margin-bottom: 3rem;
}

.reviews-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38rem;
    padding-right: 10rem;
    margin: 0 auto;
}

.reviews-client {
    font-size: calc(1.2rem + 1vw);
    font-family: hauora-medium;
    margin-bottom: 1rem;
}

.reviews-para {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.review-cards {
    border: none;
    background: var(--Colors-Secondary-100, #D5D4E8);
    box-shadow: 0px 10px 15px -3px rgba(16, 24, 40, 0.10), 0px 4px 6px -4px rgba(16, 24, 40, 0.10);
    width: 30rem;
    height: 32.5rem;
}

.review-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.reviewcard-heading {
    padding: 2rem 1rem 0rem 1rem;
}

.reviewcard-description {
    padding: 2rem 1rem 0rem 1rem;
}

.review-client {
    font-size: calc(1.2rem + 1vw);
    font-family: hauora-medium;
}

.review-place {
    font-size: 1.125rem;
}

.quote {
    width: 21px;
    height: 15px;
    flex-shrink: 0;
    margin-bottom: 1rem;
}

.reviews-carousel {
    overflow: hidden;
    scroll-behavior: smooth;
}

.carousel-reviews {
    display: flex;
}

.reviews-arrows {
    display: flex;
}

.reviews-arrow {
    border: 1px solid black;
    border-radius: 50%;
    padding: 0.5vh 1vh;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
}

.disabled-icon1 {
    color: rgba(140, 140, 140, 0.697);
    border-color: rgba(140, 140, 140, 0.697);
    cursor: default;
}

.disabled-icon1:hover {
    background-color: rgba(140, 140, 140, 0.697) !important;
    color: white;
    border-color: rgba(140, 140, 140, 0.697) !important;
}

.reviews-progress-bar {
    width: 25rem;
    height: 2px;
    background-color: #A1A4AC;
    margin-top: 2rem;
    position: absolute;
}

.reviews-web-view {
    margin: 0px;
}

/*  Mobile view */
.reviews-mobile-view {
    display: none;
}

.reviews-para-mobile {
    font-size: calc(1rem + 0.2vw);
}

.accordion-button {
    font-weight: 700;
    font-size: 1.3rem;
}

@media only screen and (min-width: 1920px) {
    .review-cards {
        width: 25rem;
        height: 28rem;
    }
    .reviews-para {
        font-size: 1.1rem;
    }
    .reviews-text {
        width: 26rem;
        padding-right: 0rem;
    }
}

@media (max-width: 1200px) {
    .reviews-section {
        margin: 70px 2rem;
    }

    .reviews-text {
        width: 26rem;
        padding-right: 0rem;
    }
}

@media (max-width: 1000px) {
    .reviews-web-view {
        display: none;
    }

    .reviews-mobile-view {
        display: block;
    }
}