@font-face {
    font-family: hauora-medium;
    src: url(../../../public/Hauora-Medium.ttf);
}

.reviews-section {
    font-family: hauora-medium;
    margin: 150px 0rem 150px 4rem;
}

.reviews-heading {
    font-family: hauora-medium;
    font-size: calc(1.75rem + 1.5vw);
    text-align: center;
    margin-bottom: 3rem;
}

.reviews-para {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.review-cards {
    border: none;
    background: var(--Colors-Secondary-100, #D5D4E8);
    box-shadow: 0px 10px 15px -3px rgba(16, 24, 40, 0.10), 0px 4px 6px -4px rgba(16, 24, 40, 0.10);
    width: 30rem;
    height: 32.5rem;
    margin-top: 2rem;
}

.reviewcard-heading {
    padding: 2rem 1rem 0rem 1rem;
}

.reviewcard-description {
    padding: 2rem 1rem 0rem 1rem;
    vertical-align: bottom;
}

.review-client {
    font-size: calc(1.2rem + 1vw);
    font-family: hauora-medium;
}

.review-place {
    font-size: 1.125rem;
}

.quote {
    width: 21px;
    height: 15px;
    flex-shrink: 0;
    margin-bottom: 1rem;
}

@media only screen and (min-width: 1920px) {
    .review-cards {
        width: 25rem;
        height: 28rem;
    }

    .reviews-para {
        font-size: 1.1rem;
    }
}

@media (max-width: 1200px) {
    .reviews-section {
        margin: 150px 2rem 70px;
    }
}