/*  Scrolling the logos Section  */
.logo-slider {
    /* background-color: #EEEEEE; */
    padding: 5vh 2vh;
    margin: 120px 0px;
}

.slide-track {
    margin: 0 auto;
}

.slide1 {
    --bs-gutter-x: 6rem;
    --bs-gutter-y: 2rem;
}

.logo-width1 {
    height: auto;
    max-width: 100%
}

@media only screen and (max-width: 1256px) {
    .logo-slider {
        margin: 70px 0px;
    }
}

@media only screen and (max-width: 545px) {
    .slide1 {
        --bs-gutter-x: 3rem;
    }
}

@media only screen and (max-width: 395px) {
    .slide1 {
        --bs-gutter-x: 1rem;
    }
}